// IMPORTO LAS VARIABLES
@import "../variables";

// ESTILOS SECCION contacto

@mixin inputs {
	width: 100%;
	padding: 1rem 1.2rem;
	box-shadow: 4px 4px 10px -3px rgba(0, 0, 0, 0.19);
	border: none;
	border-radius: 15px;
}

.mainContainerContact {
	width: 100%;
	background-color: $colorFondo;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.titleH1 {
	font-size: 3.4rem;
	color: $colorPrincipal;
	letter-spacing: 2px;
	padding-top: 5.5rem;
}

.containerContact {
	width: 100%;
	&__titleH2 {
		font-size: 2rem;
		color: $colorPrincipal;
		letter-spacing: 1px;
		margin-top: 2.4rem;
		margin-bottom: 1.7rem;
	}
}

.formContact {
	width: 90%;
	margin: 0 auto;
	margin-top: 0.8rem;
	text-align: center;
	&__input {
		@include inputs;
		&:focus {
			outline: $borde;
		}
	}
	&__textarea {
		@include inputs;
		resize: none;
		&:focus {
			outline: $borde;
		}
	}
}

.buttonsContainer {
	width: 100%;
	margin-top: 0.6rem;
	&__button {
		cursor: pointer;
		width: 45.5%;
		margin: 0 2%;
		background-color: transparent;
		color: $colorPrincipal;
		font-size: 1.5rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 2px;
		border: $borde;
		padding: 1rem 1.6rem;
		border-radius: 10px;
		transition: background 300ms ease, color 300ms ease;
		&:hover {
			background-color: $colorPrincipal;
			color: #fff;
			box-shadow: 2px 4px 12px -1px rgba(0, 0, 0, 0.25);
		}
	}
}

.directionContainer {
	width: 100%;
	text-align: center;
	&__titleH2 {
		font-size: 2rem;
		color: $colorPrincipal;
		letter-spacing: 1px;
		margin-top: 5rem;
	}
	&__iframe {
		width: 90%;
		height: 320px;
		border: $borde;
		border-radius: 6px;
		margin-top: 1rem;
	}
}

@media screen and (min-width: 600px) {
	.titleH1 {
		padding-top: 6rem;
	}
	.formContact {
		width: 70%;
	}
	.directionContainer__iframe {
		width: 70%;
	}
}

@media screen and (min-width: 850px) {
	.formContact {
		width: 55%;
	}
	.buttonsContainer__button {
		font-size: 1.6rem;
		margin-top: 0.7rem;
	}
	.directionContainer__iframe {
		width: 55%;
	}
}

@media screen and (min-width: 1024px) {
	.mainContainerContact__titleH2 {
		font-size: 2.1rem;
	}
	.formContact {
		width: 48%;
	}
	.buttonsContainer__button {
		padding: 1.2rem 1.8rem;
	}
	.directionContainer__titleH2 {
		font-size: 2.1rem;
	}
	.directionContainer__iframe {
		width: 48%;
		margin-top: 1.2rem;
	}
}

@media screen and (min-width: 1200px) {
	.titleH1 {
		padding-top: 6.2rem;
	}
	.mainContainerContact__titleH2 {
		margin-bottom: 1.5rem;
	}
	.formContact {
		width: 50%;
	}
	.directionContainer__iframe {
		width: 50%;
	}
}

@media screen and (min-width: 1360px) {
	.titleH1 {
		padding-top: 6.4rem;
	}
	.mainContainerContact__titleH2 {
		margin-top: 2.5rem;
		margin-bottom: 1.6rem;
	}
	.formContact {
		width: 46%;
	}
	.directionContainer__iframe {
		width: 46%;
		margin-top: 1.4rem;
		height: 360px;
	}
}

@media screen and (min-width: 1500px) {
	.formContact {
		width: 42%;
	}
	.directionContainer__iframe {
		width: 42%;
	}
}
